.Saya{
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.d-flex{
    display: -webkit-box;
    display: flex;
}

.edit-ini{
    background-color: whitesmoke;
}

.col-6{
    padding: 30px;
}

.perjuangan{
    color: gray;
    font-size: 2,5rem;
}

.footer{
    background-color: aqua;
    padding: 50px;
}